section{
    font-family: sans-serif; 
    border: solid 2px black; 
    padding: 15px; 
    padding-right: 200px; 
    display: inline-block;
}

#name{
    display: block;
    margin-bottom: 10px;
}

#name-input{
    width: 80%;
    margin-left: 5px;
}

#email{
    display: block;
}

#email-input{
    width: 80.5%;
    margin-left: 5px;
}

#destine{
    margin-top: 40px;
    width: 595px;
}

#date-box{
    margin: 20px 0px;
}

#date-box input{
    margin-left: 10px;
}

#check-1{
    width: 595px;
}

#acept{
    margin-top: 20px;
}

#submit{
    padding: 10px 20px;
    margin-right: 20px;
}

#reset{
    padding: 10px 20px;
}