div:hover {
    text-align: center;
    width: 200px;
    border: 1px solid red;
}

.impar {
    font-style: italic;
}

#cor-primaria:hover {
    background-color: rgb(0, 202, 202);
}

#cor-secundaria:hover {
    background-color: bisque;
}

#cor-complementar:hover {
    font-size: 2em;
    width: 400px;
    background-color: blue;
    color: white;
}

#cor-escura:hover {
    background-color: rgb(99, 99, 99);
    color: white;
}

#cor-clara:hover {
    background-color: white;
    color: black;
}